<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href= "{% static 'css/bootstrap.css' %}">

    <title>Zuger Parteienlandschaft</title>

    <!-- Style for footer -->
    <style>
      html {
        position: relative;
        min-height: 100%;
      }
      body {
        margin-bottom: 60px;
      }
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-color: #f5f5f5;
      }
      #questionnaire-jumbo {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>

  </head>

  <body>
    <!-- Navbar -->
    <header>
      <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-success">
        <a class="navbar-brand" href={% url 'home'%}>Zuger Parteienlandschaft</a>
      </nav>
    </header>

    <!-- extend template -->
    <main role="main" class="container">
      {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer bg-success"></footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

  </body>
</html>