{% extends 'base.html' %}
{% load static %}

  {% block content %}
    <!-- Title -->
    <div class="h1 text-center mt-3">
    Willkommen zur Zuger Parteienlandschaft!
    </div>

    <!-- Picture (with source) -->
    <div class="container mt-3">
      <img src="{% static 'img/home_picture.jpg'%}" class="img-fluid" alt="Image">
      <p style="font-size:xx-small">www.peikert-projekte.ch/images/startseite/Peikert_Projekte_02.jpg</p>
    </div>

    <!-- Explain Text -->
    <div class="text-justify text-center mt-3">
      <p> 
        Mithilfe dieser Webseite erfaren Sie, welche Zuger Parteien Ihnen politisch am nächsten stehen.
        <br>
        Sie können Fragen zu verschiedenen politischen Themen beantworten und Ihre Positionen mit jenen der unterschiedlichen Parteien vergleichen.
      </p>
    </div>

    <!-- Start Button -->
    <div class="text-center mt-3 mb-3">
      <a class="btn btn-outline-success btn-lg" href={% url 'questionnaire' %} role="button">Start</a>
    </div>

  {% endblock %}