{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- questionnaire form (radio buttons) -->
  <form id="questionnaire" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      {{ formset.management_form }}
        
        <div role="tabpanel">
          <!-- dropbow -->
          <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li class="nav-item dropdown w-100 mt-3 mb-3">
              <a class="nav-link dropdown-toggle btn-secondary text-right" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Kategorien</a>
              <div class="dropdown-menu w-100" style="background-color: #e2e3e5">
                {% for category in categories %}
                  <a class="dropdown-item" id="{{ category.id }}-tab" data-toggle="tab" href="#id-{{ category.id }}" role="tab" aria-controls="id-{{ category.id }}" {% if forloop.first %} aria-selected="true" {% endif %}>{{category}}</a>
                {% endfor %}
              </div>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            {% for category in categories %}
              <div class="tab-pane fade {% if forloop.first %} show active {% endif %}" id="id-{{ category.id }}" role="tabpanel" aria-labelledby="{{ category.id }}-tab">
                  <div class="jumbotron" id="questionnaire-jumbo">
                    <h1> {{ category }} </h1>
                    <!-- renders form -->
                    {% for question in questions %}
                      {% if question.category_id == category.id %}
                        <div class="alert alert-secondary">
                          <p> {{ question.question_nr }}. {{ question.question_de }} </p>
                            {% for form in formset %}
                              {% if forloop.counter == forloop.parentloop.counter %}
                                <div class="btn-group" data-toggle="buttons" id="id_form-{{ forloop.counter|add:"-1" }}">
                                  {% for field in form.radio_buttons %}
                                    <div>
                                      <label class="btn btn-success mr-2">
                                        {{field.tag}}
                                        {{field.choice_label}}
                                      </label>
                                    </div>
                                  {% endfor %}
                                </div>
                              {% endif %}
                            {% endfor %}
                          </div>
                      {% endif %}
                    {% endfor %}
                    
                    <!-- Result Button -->
                    <div class="row">                    
                      <div class="col text-center">
                        <input type="submit" value="Resultate" class="btn btn-secondary">
                      </div>
                    </div>
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>
  </form>


{% endblock %}