{% extends 'base.html' %}
{% load static %}

  {% block content %}

    <div class="row mt-3 mb-3">
      <!-- Go Back Button -->
      <div class="col">
        <button class="btn btn-secondary float-left" onclick="goBack()">Zurück</button>
        <script>
        function goBack() {
          window.history.back();
        }
        </script>
      </div>
      <!-- Results Title -->
      <div class="col text-center">
        <h1> Resultate </h1>
      </div>
      <!-- Restart Button -->
      <div class="col">
        <a class="btn btn-secondary float-right" href={% url 'questionnaire' %} role="button">Neustart</a>
      </div>
    </div>

    <!-- Results -->
    {% for key in keys %}
      {% for party, agreement in data.items %}
        {% if party == key %}      
          <!-- Jumbotron for each Party -->    
          <div class="jumbotron">
            <div class="row">
              <div class="col-9">
                <!-- Name -->
                <h5 class="mt-3"> {{ forloop.parentloop.counter }}. {% for abbr, name in parties.items %} {% if party == abbr %} {{ name }} {% endif %} {% endfor %} </h5>
                <!-- Progressbar -->
                <div class="progress mt-5" style="height: 25px; background-color: #e2e3e5">
                  <div class="progress-bar bg-success" role="progressbar" style="width: {{ agreement }}; color: #000000" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ agreement }}</div>
                </div>
              </div>
              <!-- Logo -->
              <div class="col-3">
                <img src="{% get_static_prefix %}img/parties/{{ party }}.png" class="img-fluid float-right w-100" alt="Image">
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}

  {% endblock %}